<h2>HERE IS MY ABOUT HTTP MODULE</h2>
<div class="row mt-3">
    <h3>we are using httpget method & *ngFor to display this galery</h3>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center" *ngFor="let img of galery">
        <img [src]="'https://picsum.photos/id/' + img.id + '/300'" class="img-fluid" />
        <h4>{{img.author}}</h4>
        <h5>ID{{img.id}}</h5>
    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" (click)="loadPics('prev')" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li *ngIf='page > 2' class="page-item"><a class="page-link" (click)="loadPics('',page-2)">{{page-2}}</a></li>
        <li *ngIf='page > 1' class="page-item"><a class="page-link" (click)="loadPics('',page-1)">{{page-1}}</a></li>
        <li class="page-item active"><a class="page-link" (click)="loadPics('',page)">{{page}}</a></li>
        <li class="page-item"><a class="page-link" (click)="loadPics('',page+1)">{{page+1}}</a></li>
        <li class="page-item"><a class="page-link" (click)="loadPics('',page+2)">{{page+2}}</a></li>

        <li class="page-item">
            <a class="page-link" (click)="loadPics('next')" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>